.results-container {
  margin: 0 20px 0 20px;
  position: relative;
  clear:both;
  z-index:2000;
  height: auto;
}

.results-container .results {
  width: 355px !important;
  box-shadow: 0px 4px 12px #d9d9d9;
}

.results-container .command-holder .item {
  padding-bottom: 40px !important;
}

:global(.person-card) {
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
}

.results-items {
  padding: 10px;
}

.results-items input[type=button],
.results-items button {
  min-width: auto !important;
  padding: 0 !important;
  float:right;
  clear:right;
}

.item-container {
  background-color: #ffffff;
}

.progress-spinner {
  margin: 0 0 0 150px;
}
