.sortable-item:hover {
	background-color: #eeeeee;
}
.sortable-item {
  	background-color: #fff;
	cursor: move;
	margin: 10px 0;
}
.pointer-events-none {
  	pointer-events: none;
}
.sortable-item-over {
  	border: 1px dashed #DDD;
}
