#component-ghostpane {
  background: #999;
  opacity: 0.2;

  width: 45%;
  height: 45%;
  top: 20%;
  left: 20%;

  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1999;

  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#outer-space {
  display: none;
}

.gf-component {
  border-top: 2px solid #2778f9;
  box-shadow: -30px 0 30px -30px rgba(0,0,0,.2);
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  background-color: #ffffff;
  position: absolute;
  min-width: 400px;
  width: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}