.results-container {
  margin: 0 30px;
  position: relative;
  clear:both;
  z-index:2000;
  height: auto;
  display: block;
}

.results-container .results {
  width: 355px !important;
}

.results-container .command-holder .item {
  padding-bottom: 40px !important;
}

.results-items {
  padding: 10px;
  float: left;
}

.results-items input[type=button],
.results-items button {
  min-width: auto !important;
  padding: 0 !important;
  float:right;
  clear:right;
}

.item-container {
  background-color: #ffffff;
  float:left;
}

.progress-spinner {
  margin: 0 0 0 150px;
}
