.react-tagsinput {
  overflow: hidden;
  width: 360px;
}

.react-tagsinput-tag {
  background-color: #666666;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 10px !important; 
}

.search-term {
  display: none;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a,
.react-tagsinput-tag a:link {
  text-decoration: none;
  color: #ffffff;
}

.react-tagsinput-tag a:hover {
  cursor:pointer;
}

.react-tagsinput-tag a::before {
  content: " ×";
}
