.component-tabs {
  position: absolute;
  height: 210px;
  z-index: 2001;
  width: 45px;
  padding: 20px 0 20px 5px;
  top: -20px;
  right: 400px;
}

:global(.tab) {
  padding: 10px;
  border: 1px solid #eeeeee;
  border-width: 0 0 1px 1px;
  background: #ffffff;
}

:global(.tab i:hover) {
  cursor:pointer;
}

:global(.active) {
  box-shadow: 0px 0px #ffffff;
  background-color: #f9f9f9;
}

:global(.last) {
  border-radius: 0 0 0 15%;
  box-shadow: 0 5px 5px #d9d9d9;
}

:global(#close-control) {
  top: 0;
  right: 0;
  z-index: 2001;
  position: absolute;
  border-radius: 0 0 0 15%;
  background: none;
  border-width: 0px;
}

.alternate-tabs {
  padding: 20px 0 20px 5px;
  right:51px;
  width:350px;
  height:50px;
}

.alternate-tabs :global(.tab) {
  float:left;
  height: 25px;
  width: 51px;
  padding: 10px 0 10px 26px;
}

.alternate-tabs :global(.active) {
  border-bottom-width: 0px;
  box-shadow:0 0 #fff;
}

.alternate-tabs :global(.last) {
  border-radius: 0;
  box-shadow: none;
  border-right-width: 1px;
}

.alternate-tabs + div {
  right:20px !important;
  top:1px !important;
}
