
/* Suggest */
:global(.react-autosuggest__container) {
  position: relative;
}

:global(.react-autosuggest__input) {
  font-size: 1.3em;
  margin-bottom: 20px;
  height: 30px;
  border: 1px solid #cccccc;
  -webkit-appearance: initial;
}

:global(.react-autosuggest__input):focus {
  outline: none;
}

:global(.react-autosuggest__container--open) :global(.react-autosuggest__input) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

:global(.react-autosuggest__suggestions-container) {
  position: absolute;
  top: 60px;
  width: 357px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #cccccc;
  border-top: 0px;
  background-color: #ffffff !important;
  font-weight: 300;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2001;
  font-size: 1em;
}

:global(.react-autosuggest__suggestion) {
  cursor: pointer;
  padding: 10px 20px;
  color:#777;
}

:global(.highlight) {
  color: #000000;
  font-weight: bold;
}

:global(.react-autosuggest__suggestion--focused) {
  background-color: #ddd;
}

:global(.react-autosuggest__suggestion--focused .highlight) {
  color: #000000;
}

:global(.react-autosuggest__section-title) {
  padding: 10px 0 0 10px;
  border-top: 1px dashed #ccc;
}

:global(.react-autosuggest__section-title) span {
  display:block;
}

:global(.react-autosuggest__section-container):first-child :global(.react-autosuggest__section-title) {
  border-top: 0;
  font-size: 1em;
}

:global(.react-autosuggest__section-suggestions-container) {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:global(.react-autosuggest__section-suggestions-container span) {
  display: inline !important;
  padding: 0 !important;
  font-size: 1em;
}

/* Tags */
.tag-holder {
  padding-top: 20px;
  margin-bottom: 20px;
}

.tag-holder button {
  padding: 0.5em;
  font-size: 1em;
  width: 359px;
  height: 50px;
  margin-left:0;
}

.tag-holder button span {
  line-height: 1 !important;
}

:global(.react-tagsinput-input) {
  background: transparent;
  border: 0;
  color: #777;
  box-sizing: inherit !important;
  font-size: 1.3em;
  outline: none;
  padding: 5px;
  width: 347px;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 30px;
}

:global(.react-tagsinput-input):hover,
:global(.react-tagsinput-input):focus {
  border-color: rgb(12, 165, 151) !important;
  border-width: 0 0 1px;
}