/* Tags */
.tag-holder {
  padding-top: 20px;
  margin-bottom: 20px;
}

.tag-holder button {
  padding: 0.5em;
  font-size: 1em;
  width: 359px;
  height: 50px;
  margin-left:0;
}

.tag-holder button span {
  line-height: 1 !important;
}
