.raised, .flat, .floating, .toggle {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0;
  position: relative;
  display: inline-block;
  height: 3.6rem;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
  outline: none;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.raised::-moz-focus-inner, .flat::-moz-focus-inner, .floating::-moz-focus-inner, .toggle::-moz-focus-inner {
  border: 0;
}
.raised > span:not([data-gf="tooltip"]), .flat > span:not([data-gf="tooltip"]), .floating > span:not([data-gf="tooltip"]), .toggle > span:not([data-gf="tooltip"]) {
  display: inline-block;
  line-height: 3.6rem;
  vertical-align: middle;
}
.raised > svg, .flat > svg, .floating > svg, .toggle > svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 120%;
  vertical-align: middle;
  fill: currentColor;
}
.raised > *, .flat > *, .floating > *, .toggle > * {
  pointer-events: none;
}
.raised [data-gf="ripple"], .flat [data-gf="ripple"], .floating [data-gf="ripple"], .toggle [data-gf="ripple"] {
  overflow: hidden;
}
[disabled].raised, [disabled].flat, [disabled].floating, [disabled].toggle {
  color: rgba(0, 0, 0, 0.26);
  pointer-events: none;
  cursor: auto;
}

.raised, .flat {
  min-width: 9rem;
  padding: 0 1.2rem;
  border-radius: 0.2rem;
}
.raised .icon, .flat .icon {
  margin-right: 0.6rem;
  font-size: 120%;
  vertical-align: middle;
}
.raised > svg, .flat > svg {
  margin-right: 0.5rem;
}

[disabled].raised, [disabled].floating {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
}
.raised:active span, .floating:active span {
  background-color: #ffffff;
  border-radius: 100%;
  opacity:0.5;
  transform: scale(0);
  animation: ripple-in 1s;
}

.raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.flat {
  background: transparent;
}

.floating {
  width: 5.6rem;
  height: 5.6rem;
  font-size: 2.4rem;
  border-radius: 50%;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
.floating .icon {
  line-height: 5.6rem;
}
.floating [data-gf="ripple"] {
  border-radius: 50%;
}
.floating.mini {
  width: 4rem;
  height: 4rem;
  font-size: 1.77778rem;
}
.floating.mini .icon {
  line-height: 4rem;
}

.toggle {
  width: 3.6rem;
  background: transparent;
  border-radius: 50%;
}
.toggle > .icon, .toggle svg {
  font-size: 2rem;
  line-height: 3.6rem;
  vertical-align: middle;
}
.toggle [data-gf="ripple"] {
  border-radius: 50%;
}

.neutral:not([disabled]).raised, .neutral:not([disabled]).floating {
  color: #212121;
  background-color: white;
}
.neutral:not([disabled]).flat, .neutral:not([disabled]).toggle {
  color: #212121;
}
.neutral:not([disabled]).flat:focus:not(:active), .neutral:not([disabled]).toggle:focus:not(:active) {
  background: rgba(33, 33, 33, 0.2);
}
.neutral:not([disabled]).flat:hover {
  background: rgba(33, 33, 33, 0.2);
}
.neutral:not([disabled]).inverse.raised, .neutral:not([disabled]).inverse.floating {
  color: white;
  background-color: #212121;
}
.neutral:not([disabled]).inverse.flat, .neutral:not([disabled]).inverse.toggle {
  color: white;
}
.neutral:not([disabled]).inverse.flat:focus:not(:active), .neutral:not([disabled]).inverse.toggle:focus:not(:active) {
  background: rgba(33, 33, 33, 0.2);
}
.neutral:not([disabled]).inverse.flat:hover {
  background: rgba(33, 33, 33, 0.2);
}

.primary:not([disabled]).raised, .primary:not([disabled]).floating {
  color: white;
  background: #3f51b5;
}
.primary:not([disabled]).flat, .primary:not([disabled]).toggle {
  color: #3f51b5;
}
.primary:not([disabled]).flat:focus:not(:active), .primary:not([disabled]).toggle:focus:not(:active) {
  background: rgba(63, 81, 181, 0.2);
}
.primary:not([disabled]).flat:hover {
  background: rgba(63, 81, 181, 0.2);
}

.accent:not([disabled]).raised, .accent:not([disabled]).floating {
  color: white;
  background: #ff4081;
}
.accent:not([disabled]).flat, .accent:not([disabled]).toggle {
  color: #ff4081;
}
.accent:not([disabled]).flat:focus:not(:active), .accent:not([disabled]).toggle:focus:not(:active) {
  background: rgba(255, 64, 129, 0.2);
}
.accent:not([disabled]).flat:hover {
  background: rgba(255, 64, 129, 0.2);
}

@keyframes ripple-in {
 0% {transform: scale(0);}
 70%{transform: scale(1);opacity:0.2;}
 100%{transform: scale(1);opacity:0;}
}

/* css for rippling effect */
/*
.normal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  pointer-events: none;
  background-color: currentColor;
  border-radius: 50%;
  transform-origin: 50% 50%;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.normal {
  transition-duration: 800ms;
}
.normal.restarting {
  opacity: 0.3;
  transition-property: none;
}
.normal.active {
  opacity: 0.3;
  transition-property: transform;
}
.normal:not(.active):not(.restarting) {
  opacity: 0;
  transition-property: opacity, transform;
}
*/