div.search-container {
	margin: 0 0 0 20px;
	width: 360px;
	border-top: 1px solid #dedede;
}
div.search-container input[type=text] {
	padding-left: 5px;
	width: 347px;
  font-size: 1.1em;
	height: 30px;
  box-sizing: inherit;
	margin-top:15px;
	border-width: 1px;
}
div.search-container input[type=text]:focus,
div.search-container input[type=text]:hover {
	border-width: 1px;
	border-color: rgb(229, 29, 46) !important;
}
div.search-container label {
	padding-left:40px;
	top:38px;
	font-size: 1.3em;
}
div.search-container label:focus {
	color: rgb(244, 244, 244) !important;
}
div.search-container div[data-gf=input] {
	margin-left:0 !important;
}
div.search-container span span {
	line-height: 1 !important;
	width: auto !important;
	height: auto !important;
	padding: 3px;
}