.paging {
	padding: 10px 10px 20px 20px;
	height: 40px;
}
.pager {
	padding: 2px 6px 2px 5px;
	background: #ffffff !important;
	font-weight: bold;
	float: left;
	margin: 0 1px 0 1px;
}
.next-pager,
.prev-pager {
	float:left;
}
.self {
	background-color: rgb(244,244,244) !important;
	font-weight: normal;
}
.paging button,
.pagging input[type=button] {
	min-width: auto !important;
	margin: -1px 2px 5px 0;
	padding: 0px !important;
	height: 1.6rem !important;
}
.paging button span {
	line-height: 1 !important;
	margin-right: 0px !important;
}
.paging-hidden {
	display: none;
}
.hidden {
  display: none;
}
