div.search-container {
	margin: 0 0 0 20px;
	width: 360px;
	border-top: 1px solid #cccccc;
}
div.search-container input[type=text] {
	/*width: 318px;*/
	width: 347px;
  font-size: 1.3em;
	height: 30px;
  box-sizing: inherit;
  margin-top:25px;
  margin-bottom: 25px;
}
div.search-container input[type=text]:focus,
div.search-container input[type=text]:hover {
	border-color: rgb(229, 29, 46) !important;
	border-width: 0 0 1px 0;
}
div.search-container label {
	padding-left:40px;
	top:38px;
	font-size: 1.3em;
}
div.search-container label:focus {
	color: rgb(244, 244, 244) !important;
}
div.search-container div[data-gf=input] {
	margin-left:0 !important;
}
div.search-container :global(.material-icons) {
	display:block;
	top: 13px;
	left: -15px;
}
div.search-container span span {
	line-height: 1 !important;
	width: auto !important;
	height: auto !important;
	padding: 3px;
}