.pins {
  position: absolute;
  height:100%;
  top: 50px;
  right: 400px;
  width: 400px;
  margin: 50px 20px !important;
  background-color:#ffffff;
}

.container {
  width: 320px !important;
}

.layout-heading {
  margin: 0 20px 20px 20px;
}
/* drag and drop */
.sortable-favourite-container {
  margin: 0 20px 20px 20px;
  border-left: 0px;
  border-right: 0px;
  font-size: 14px;
  width:355px;
}
.sortable-favourite-container i {
  float:left;
}

.sortable-favourite-container div div span {
  display:none;
}
.sortable-favourite-container div div div span {
  display: block;
}
.sortable-favourite-container button,
.sortable-favourite-container input[type=button] {
  min-width: auto;
  padding: 0;
  font-size: 1rem;
  float:right;    
  color: #fff;
  padding: 0 !important;
}
.sortable-favourite-container button span,
.sortable-favourite-container input[type=button] span {
  line-height: 2rem !important;
}

.sortable-item-content {
  background: #ffffff;
  float:left;
  margin-bottom: 20px;
}
.sortable-item-content:hover {
  cursor: move;
}

.removal-button {
  float: right;
  margin-top: -27px;
}

.sortable-favourite-container div div.removal-button:hover {
  background: transparent !important;
}

/* other miscellaneous */
.left {
  clear: both;
  color: #000;
}

.complete button {
  background-color: rgb(229, 29, 46) !important;
  margin:0 130px;
}
